<h1>Edit Your Doggo</h1>

<%= form_for(@image, url: "/images/#{@image.id}") do |f| %>
  <p>
    <%= f.label :dog_name %><br>
    <%= f.text_field :dog_name %>
  </p>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </p>
  <% if @image.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %>
      prohibited this article from being saved:</h2>
      <ul>
        <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.submit %>
  </p>
<% end %>
