<h1>Most Recent Pictures</h1>

<div class="flex-container">
  <% @most_recent_pictures.each do |image| %>
    <div class="inner-flex-div">
      <%= link_to(image_tag(image.url), "/images/#{image.id}") %>
      <div class="image-text">
        <h3><%= image.dog_name%></h3>
        <p><%= image.title %></p>
        <p>Comments: <%= image.comments.count %> </p>
      </div>
    </div>
    <% end %>
</div>



<h1>Older Pictures</h1>

<% @created_before.each do |image| %>
  <h3><%= image.dog_name%></h3>
  <p><%= image.title %></p>
  <%= link_to(image_tag(image.url), "/images/#{image.id}") %>
<% end %>

<h2>2016 Pictures</h2>

<% Image.pictures_created_in_year(2016).each do |image| %>
  <h3><%= image.dog_name%></h3>
  <p><%= image.title %></p>
  <%= link_to(image_tag(image.url), "/images/#{image.id}") %>
<% end %>

<!-- Alternative way to use pictures_created_in_year method  -->
<h3>2017 Pictures</h3>
<% @pictures_from_2017.each do |image| %>
  <h3><%= image.dog_name%></h3>
  <p><%= image.title %></p>
  <%= link_to(image_tag(image.url), "/images/#{image.id}") %>
<% end %>
